.navbar-conteiner{
    display: flex;
    justify-content: center;
}
.lista{
    list-style: none;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    margin-top: 50px;
}
.logo-carrito{
    display: flex;
    align-items: center;
    margin-left: 95px ;
    margin-top: 30px;
    height: 55px;
}
.logo{
    width: 110px;
}